footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .footer-left {
    width: 675px;
    max-width: 40%;
    height: 260px;
    background-color: #212121;
    background-image: linear-gradient(to left, #1e3c72 0%, #2a5298 100%);
    box-shadow: 21.2px 21.2px 54px rgba(117, 117, 117, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      max-width: inherit;
      width: 100%;
    }

    img {
      padding-bottom: 20px;
    }

    p, a {
      color: white;
      @include fontSize(14px);
      font-weight: 300;
      line-height: 22px;
    }
  }
  .footer-right {
    width: 100%;
    background: #fff url(../img/bg-right.png) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;
    margin-top: -30px;

    @media (max-width: 600px) {
      order: -1;
      background: #f7f6f5;
      padding: 20px 15px;
    }
  }

  .footer-menu {
    width: 100%;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 999;

    ul {
      display: flex;
      justify-content: space-between;

      @media (max-width: 991px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      li {
        a {
          text-shadow: 21.2px 21.2px 54px rgba(117, 117, 117, 0.26);
          @include fontSize(14px);
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          color: #0e5281;
        }
      }
    }
  }
  .social {
    a {
      text-shadow: 21.2px 21.2px 54px rgba(117, 117, 117, 0.26);
      font-size: 24px;
      padding-left: 20px;
    }
  }
}