.team {
  background: url(../img/about-us-bg.png) no-repeat -20px -10px;
  overflow: hidden;

  .team-item {
    padding: 0 15px;
    position: relative;

    &:nth-child(2) {
      background-color: whitesmoke;
      background-image: linear-gradient(to right, whitesmoke 0%, white 100%);

      &:before {
        content: url(../img/team-2-bg.png);
        position: absolute;
        top: -400px;
        right: -60px;
        opacity: 0.8;
      }
    }
    &:nth-child(3) {

      &:before {
        content: url(../img/team-3-bg.png);
        position: absolute;
        opacity: 0.4;
        bottom: -200px;
        right: -60px;
      }
    }

    .wrap {
      position: relative;
      padding: 80px 0 75px 280px;
      max-width: 1200px;
      margin: 0 auto;

      @media (max-width: 991px) {
        padding: 60px 0 40px 0;
      }
    }

    img {
      position: absolute;
      top: 80px;
      left: 0;

      @media (max-width: 991px) {
        position: static;
        margin: 0 auto 25px;
        display: block;
      }
    }

    .name {
      color: #2a5298;
      @include fontSize(30px);
      font-weight: 700;
      padding-bottom: 25px;

      @media (max-width: 991px) {
        text-align: center;
      }
    }

    .position {
      color: #757575;
      @include fontSize(18px);
      font-weight: 400;
      padding-bottom: 30px;
      line-height: 20px;

      @media (max-width: 991px) {
        text-align: center;
      }
    }

    p {
      color: #212121;
      @include fontSize(16px);
      line-height: 24px;
      padding-bottom: 20px;
    }
  }

}